<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  	<div class="container">
	<p>欢迎登录！<span id="name"><%= name %></span> &nbsp; &nbsp; &nbsp; &nbsp;<button id="loginOut">退出</button></p>
  <div>
    <textarea rows="5"></textarea>
    <button id="post">留言</button>
  </div>
  <ul id="list">
    <% if (posts) { %>
      <% for(var i=0; i<posts.length; i++) {%>
         <li><span><%= name %></span><p><span><%= posts[i].time %></span><br/><%= posts[i].content %></p></li>
      <% } %>
    <% } %>
  </ul>
    </div>
    <script type="text/javascript">
    var $CONFIG={};
    $CONFIG.username = '<%= name %>';
    </script>
    <script src="/javascripts/lithe.js" data-config="/config.js" data-main="conf/main.js" data-timestamp="1"></script> 
  </body>
</html>